<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="index.html">Angular Forms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [routerLink]="['/app-basic-form']" routerLinkActive="router-link-active">
                    <a class="nav-link scroll-link">Basic Form</a>
                </li>
                <li class="nav-item" [routerLink]="['/app-template-form']" routerLinkActive="router-link-active">
                    <a class="nav-link scroll-link">Template Driven Form</a>
                </li>
                <li class="nav-item" [routerLink]="['/app-reactive-form']" routerLinkActive="router-link-active">
                    <a class="nav-link scroll-link">Reactive Form</a>
                </li>
                <li class="nav-item" [routerLink]="['/app-basic-form']" routerLinkActive="router-link-active">
                    <a class="nav-link scroll-link">Basic Form</a>
                </li>
                <li class="nav-item" [routerLink]="['/app-basic-form']" routerLinkActive="router-link-active">
                    <a class="nav-link scroll-link">Basic Form</a>
                </li>
            </ul>
        </div>
    </div>
</nav>